<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friday</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='sixpack.css') }}">
  
</head>
<body>
    <div class="intro">
        <p class="greet">Friday Workout</p>
    </div>
    <div id="tablesContainer">
        <!-- Visible table -->
        <div class="flex-table" id="exerciseTable">
            <div class="flex-table-row flex-table-header">
                <div class="flex-table-cell"><input type="text" placeholder="Exercise name"></div>
                <div class="flex-table-cell"><input type="text" placeholder="N. of series"></div>
                <div class="flex-table-cell"><input type="text" placeholder="N. of reps"></div>
                <div class="flex-table-cell"><input type="text" placeholder="Break time"></div>
                <div class="flex-table-cell"><input type="text" placeholder="Body part to be trained"></div>
                <div class="flex-table-cell"><input type="file"></div>
            </div>
        </div>
    </div>
    
    <!-- Hidden template table for duplication -->
    <div id="exerciseTableTemplate" class="flex-table" style="display: none;">
        <div class="flex-table-row flex-table-header">
            <div class="flex-table-cell"><input type="text" placeholder="Exercise name"></div>
            <div class="flex-table-cell"><input type="text" placeholder="N. of series"></div>
            <div class="flex-table-cell"><input type="text" placeholder="N. of reps"></div>
            <div class="flex-table-cell"><input type="text" placeholder="Break time"></div>
            <div class="flex-table-cell"><input type="text" placeholder="Body part to be trained"></div>
            <div class="flex-table-cell"><input type="file"></div>
        </div>
    </div>
    

    <div class="buttons">
        <input type="button" id="addButton" class="btn" value="+">
        <input type="button" class="btn" onclick="removeTable()" value="-">
        <a href="/homepage">
            <input type="button" class="btn" value="Back to home">
        </a>
        <input type="button" class="btn" onclick="saveSession('friday')" value="Save">
        <input type="button" class="btn" onclick="resetSession('friday')" value="RESET">

    </div>

    <script src="{{ url_for('static', filename='Sixpack.js') }}" defer></script>
</body>

</html>